.header {
  display: flex;
  justify-content: space-between;
  &-logo {
    flex: 1;
    border: 2px solid red;
  }
  &-navbar {
    flex: 1;
    border: 2px solid red;
  }
  &-hireMeBtn {
    flex: 1;
    border: 2px solid red;
    display: flex;
    justify-content: end;
    &--btn {
    }
  }
}
