.header {
  display: flex;
  justify-content: space-between;
  place-items: center;
  &-logo {
    flex: 1;
    background: linear-gradient(45deg, var(--accent-1), var(--accent-2));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    font-size: 24px;
    @media (max-width: 1023px) {
      justify-content: center;
      place-items: center;
      display: flex;
    }
  }
  &__menuIcon {
    flex: 1;
    display: flex;
    place-items: start;
    @media (min-width: 1023px) {
      display: none;
    }
  }

  &-navbar {
    flex: 1;
    @media (max-width: 1023px) {
      display: none;
    }
  }

  &-hireMeBtn {
    flex: 1;
    display: flex;
    justify-content: end;

    &--btn {
      background: linear-gradient(45deg, var(--accent-1), var(--accent-2));
      padding: 8px;
      outline: none;
      border: none;
      border-radius: 4px;
      width: 3.75rem;
      color: var(--highlight-3);
      cursor: pointer;
      transition: all ease-in 200ms;
      &:hover {
        scale: 1.2;
      }
    }
  }
}
