.hero {
  height: calc(100vh - 60px);
  display: flex;
  &__contents {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    gap: 8px;
    justify-content: center;

    &-iam {
      color: var(--highlight-2);
    }
    &-name {
      margin-top: 0.05rem;
      color: var(--highlight-1);
    }
    &-designation {
      margin-top: 24px;
      background: linear-gradient(
        45deg,
        var(--accent-3),
        var(--accent-1),
        var(--accent-2)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: sans-serif;
      font-size: 70px;
      @media (max-width: 1023px) {
        font-size: 40px;
      }
    }
    &-socials {
      display: flex;
      gap: 1rem;
    }
    &-actionBtns {
      display: flex;
      gap: 2rem;
      margin-top: 1rem;
      &--hireme {
        background: linear-gradient(45deg, var(--accent-1), var(--accent-2));
        padding: 8px;
        outline: none;
        border: none;
        border-radius: 4px;
        width: 9.75rem;
        color: var(--highlight-3);
        cursor: pointer;
          transition: all ease-in 200ms;
        &:hover{
           scale: 1.2;
        }
      }
      &--download {
        position: relative;
        background: transparent;
        padding: 8px;
        border: 2px solid var(--highlight-1);
        border-radius: 4px;
        width: 9.75rem;
        color: var(--highlight-1);
        cursor: pointer;
        overflow: hidden;
        z-index: 0;
        transition: all ease-in 200ms;
        &:hover{
           scale: 1.2;
        }

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          border-radius: 4px;
          padding: 2px; /* matches your border width */
          background: linear-gradient(
            270deg,
            var(--accent-1),
            var(--highlight-1),
            var(--accent-1)
          );
          background-size: 600% 600%;
          animation: borderMove 2s linear infinite;
          -webkit-mask: linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);
          -webkit-mask-composite: destination-out;
          mask-composite: exclude;
          z-index: -1;
          opacity: 0;
          transition: opacity 0.3s ease;
        }

        &:hover::before {
          opacity: 1;
         
        }
      }

      @keyframes borderMove {
        0% {
          background-position: 0% 50%;
        }
        100% {
          background-position: 100% 50%;
        }
      }
    }
    &-stats {
      display: flex;
      border-radius: 8px;
      padding: 1rem;
      background-color: var(--highlight-3);
      margin-top: 2rem;
      max-width: 300px;
      &--stat {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        &--value {
          color: var(--accent-4);
          font-size: 20px;
        }
        &--label {
          color: var((--secondary));
          font-size: 16px;
        }
      }
    }
  }
  &__image {
    flex: 1;
    display: flex;
    justify-content: center;
    place-items: center;
    &-container {
      border-radius: 50%;
      width: 90%;
      height: auto;
      aspect-ratio: 1/1;
    }
    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      border-radius: 20%;
      box-shadow: 0 0 20px rgba(255, 211, 105, 0.4);
    }
  }

  @media (max-width: 1023px) {
    flex-direction: column;
  }
}
