.navbar {
  display: flex;
  justify-content: space-around;
  @media (max-width: 1023px) {
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    place-items: center;
    padding-bottom: 1rem;
  }
  &-label {
    color: var(--highlight-1);
    font-family: sans-serif;
    transition: color ease-in 200ms;
    cursor: pointer;
    &:hover{
      color: var(--accent-1);
    }
  }
}
